<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>size</key>
		<real>36.423839569091797</real>
		<key>x</key>
		<real>556.5</real>
		<key>y</key>
		<real>191</real>
	</dict>
	<dict>
		<key>size</key>
		<real>60.645694732666016</real>
		<key>x</key>
		<real>514.5</real>
		<key>y</key>
		<real>210</real>
	</dict>
	<dict>
		<key>size</key>
		<real>41.142383575439453</real>
		<key>x</key>
		<real>568.5</real>
		<key>y</key>
		<real>228.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>48.377483367919922</real>
		<key>x</key>
		<real>616</real>
		<key>y</key>
		<real>225.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>34.221855163574219</real>
		<key>x</key>
		<real>552</real>
		<key>y</key>
		<real>237</real>
	</dict>
	<dict>
		<key>size</key>
		<real>27.615894317626953</real>
		<key>x</key>
		<real>485.5</real>
		<key>y</key>
		<real>238.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>48.692054748535156</real>
		<key>x</key>
		<real>511</real>
		<key>y</key>
		<real>258.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>26.043046951293945</real>
		<key>x</key>
		<real>535.5</real>
		<key>y</key>
		<real>251.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>10.314569473266602</real>
		<key>x</key>
		<real>548</real>
		<key>y</key>
		<real>252</real>
	</dict>
	<dict>
		<key>size</key>
		<real>32.649005889892578</real>
		<key>x</key>
		<real>590</real>
		<key>y</key>
		<real>252.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>34.850994110107422</real>
		<key>x</key>
		<real>470</real>
		<key>y</key>
		<real>265.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>10</real>
		<key>x</key>
		<real>534.5</real>
		<key>y</key>
		<real>262.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>10</real>
		<key>x</key>
		<real>520.5</real>
		<key>y</key>
		<real>279</real>
	</dict>
	<dict>
		<key>size</key>
		<real>10</real>
		<key>x</key>
		<real>578.5</real>
		<key>y</key>
		<real>261.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>10</real>
		<key>x</key>
		<real>573</real>
		<key>y</key>
		<real>281</real>
	</dict>
	<dict>
		<key>size</key>
		<real>35.794700622558594</real>
		<key>x</key>
		<real>589</real>
		<key>y</key>
		<real>274.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>55.298011779785156</real>
		<key>x</key>
		<real>626</real>
		<key>y</key>
		<real>269.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>37.682117462158203</real>
		<key>x</key>
		<real>432</real>
		<key>y</key>
		<real>287</real>
	</dict>
	<dict>
		<key>size</key>
		<real>25.413908004760742</real>
		<key>x</key>
		<real>511.5</real>
		<key>y</key>
		<real>282.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>41.456954956054688</real>
		<key>x</key>
		<real>497</real>
		<key>y</key>
		<real>294</real>
	</dict>
	<dict>
		<key>size</key>
		<real>50.264900207519531</real>
		<key>x</key>
		<real>466</real>
		<key>y</key>
		<real>297</real>
	</dict>
	<dict>
		<key>size</key>
		<real>33.278144836425781</real>
		<key>x</key>
		<real>481</real>
		<key>y</key>
		<real>305</real>
	</dict>
	<dict>
		<key>size</key>
		<real>15.662251472473145</real>
		<key>x</key>
		<real>508</real>
		<key>y</key>
		<real>309</real>
	</dict>
	<dict>
		<key>size</key>
		<real>23.211919784545898</real>
		<key>x</key>
		<real>492</real>
		<key>y</key>
		<real>313.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>24.155628204345703</real>
		<key>x</key>
		<real>505</real>
		<key>y</key>
		<real>318</real>
	</dict>
	<dict>
		<key>size</key>
		<real>17.864238739013672</real>
		<key>x</key>
		<real>513.5</real>
		<key>y</key>
		<real>325</real>
	</dict>
	<dict>
		<key>size</key>
		<real>15.976820945739746</real>
		<key>x</key>
		<real>523</real>
		<key>y</key>
		<real>324.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>14.71854305267334</real>
		<key>x</key>
		<real>529.5</real>
		<key>y</key>
		<real>323</real>
	</dict>
	<dict>
		<key>size</key>
		<real>15.347681999206543</real>
		<key>x</key>
		<real>537.5</real>
		<key>y</key>
		<real>321</real>
	</dict>
	<dict>
		<key>size</key>
		<real>12.83112621307373</real>
		<key>x</key>
		<real>542</real>
		<key>y</key>
		<real>319</real>
	</dict>
	<dict>
		<key>size</key>
		<real>15.976820945739746</real>
		<key>x</key>
		<real>547</real>
		<key>y</key>
		<real>316</real>
	</dict>
	<dict>
		<key>size</key>
		<real>17.235099792480469</real>
		<key>x</key>
		<real>556</real>
		<key>y</key>
		<real>312</real>
	</dict>
	<dict>
		<key>size</key>
		<real>15.976820945739746</real>
		<key>x</key>
		<real>563</real>
		<key>y</key>
		<real>302</real>
	</dict>
	<dict>
		<key>size</key>
		<real>43.029800415039062</real>
		<key>x</key>
		<real>584.5</real>
		<key>y</key>
		<real>298</real>
	</dict>
	<dict>
		<key>size</key>
		<real>15.347681999206543</real>
		<key>x</key>
		<real>568</real>
		<key>y</key>
		<real>312</real>
	</dict>
	<dict>
		<key>size</key>
		<real>22.268211364746094</real>
		<key>x</key>
		<real>602</real>
		<key>y</key>
		<real>281</real>
	</dict>
	<dict>
		<key>size</key>
		<real>42.715232849121094</real>
		<key>x</key>
		<real>617</real>
		<key>y</key>
		<real>313.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>14.403973579406738</real>
		<key>x</key>
		<real>598</real>
		<key>y</key>
		<real>317</real>
	</dict>
	<dict>
		<key>size</key>
		<real>35.480133056640625</real>
		<key>x</key>
		<real>647</real>
		<key>y</key>
		<real>301.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>30.447019577026367</real>
		<key>x</key>
		<real>673.5</real>
		<key>y</key>
		<real>303.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>45.546356201171875</real>
		<key>x</key>
		<real>640</real>
		<key>y</key>
		<real>330.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>14.403973579406738</real>
		<key>x</key>
		<real>618.5</real>
		<key>y</key>
		<real>329</real>
	</dict>
	<dict>
		<key>size</key>
		<real>28.559602737426758</real>
		<key>x</key>
		<real>676</real>
		<key>y</key>
		<real>320.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>41.142383575439453</real>
		<key>x</key>
		<real>674</real>
		<key>y</key>
		<real>348</real>
	</dict>
	<dict>
		<key>size</key>
		<real>22.897350311279297</real>
		<key>x</key>
		<real>454</real>
		<key>y</key>
		<real>311</real>
	</dict>
	<dict>
		<key>size</key>
		<real>32.649005889892578</real>
		<key>x</key>
		<real>440.5</real>
		<key>y</key>
		<real>311</real>
	</dict>
	<dict>
		<key>size</key>
		<real>12.83112621307373</real>
		<key>x</key>
		<real>436.5</real>
		<key>y</key>
		<real>323.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>13.460265159606934</real>
		<key>x</key>
		<real>428.5</real>
		<key>y</key>
		<real>327</real>
	</dict>
	<dict>
		<key>size</key>
		<real>42.400661468505859</real>
		<key>x</key>
		<real>408</real>
		<key>y</key>
		<real>312.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>34.221855163574219</real>
		<key>x</key>
		<real>413.5</real>
		<key>y</key>
		<real>327.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>22.897350311279297</real>
		<key>x</key>
		<real>379.5</real>
		<key>y</key>
		<real>322</real>
	</dict>
	<dict>
		<key>size</key>
		<real>48.692054748535156</real>
		<key>x</key>
		<real>355.5</real>
		<key>y</key>
		<real>316</real>
	</dict>
	<dict>
		<key>size</key>
		<real>16.291391372680664</real>
		<key>x</key>
		<real>414</real>
		<key>y</key>
		<real>341.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>19.43708610534668</real>
		<key>x</key>
		<real>409</real>
		<key>y</key>
		<real>343</real>
	</dict>
	<dict>
		<key>size</key>
		<real>49.950332641601562</real>
		<key>x</key>
		<real>385.5</real>
		<key>y</key>
		<real>351.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>42.086093902587891</real>
		<key>x</key>
		<real>351.5</real>
		<key>y</key>
		<real>359.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>19.751655578613281</real>
		<key>x</key>
		<real>708.5</real>
		<key>y</key>
		<real>306</real>
	</dict>
	<dict>
		<key>size</key>
		<real>15.976820945739746</real>
		<key>x</key>
		<real>397</real>
		<key>y</key>
		<real>370</real>
	</dict>
	<dict>
		<key>size</key>
		<real>21.324502944946289</real>
		<key>x</key>
		<real>324.5</real>
		<key>y</key>
		<real>360</real>
	</dict>
	<dict>
		<key>size</key>
		<real>15.033112525939941</real>
		<key>x</key>
		<real>396</real>
		<key>y</key>
		<real>377</real>
	</dict>
	<dict>
		<key>size</key>
		<real>21.639072418212891</real>
		<key>x</key>
		<real>357.5</real>
		<key>y</key>
		<real>380.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>47.433773040771484</real>
		<key>x</key>
		<real>377.5</real>
		<key>y</key>
		<real>387.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>13.145695686340332</real>
		<key>x</key>
		<real>394</real>
		<key>y</key>
		<real>399</real>
	</dict>
	<dict>
		<key>size</key>
		<real>14.71854305267334</real>
		<key>x</key>
		<real>614.5</real>
		<key>y</key>
		<real>371.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>22.897350311279297</real>
		<key>x</key>
		<real>612.5</real>
		<key>y</key>
		<real>380.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>20.066225051879883</real>
		<key>x</key>
		<real>605.5</real>
		<key>y</key>
		<real>393</real>
	</dict>
	<dict>
		<key>size</key>
		<real>10</real>
		<key>x</key>
		<real>601</real>
		<key>y</key>
		<real>400</real>
	</dict>
	<dict>
		<key>size</key>
		<real>59.072849273681641</real>
		<key>x</key>
		<real>639</real>
		<key>y</key>
		<real>375.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>54.668872833251953</real>
		<key>x</key>
		<real>710</real>
		<key>y</key>
		<real>354</real>
	</dict>
	<dict>
		<key>size</key>
		<real>18.178808212280273</real>
		<key>x</key>
		<real>677.5</real>
		<key>y</key>
		<real>388</real>
	</dict>
	<dict>
		<key>size</key>
		<real>55.612583160400391</real>
		<key>x</key>
		<real>670.5</real>
		<key>y</key>
		<real>387.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>25.413908004760742</real>
		<key>x</key>
		<real>715.5</real>
		<key>y</key>
		<real>425.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>42.715232849121094</real>
		<key>x</key>
		<real>618.5</real>
		<key>y</key>
		<real>410</real>
	</dict>
	<dict>
		<key>size</key>
		<real>43.344371795654297</real>
		<key>x</key>
		<real>694.5</real>
		<key>y</key>
		<real>409</real>
	</dict>
	<dict>
		<key>size</key>
		<real>45.231788635253906</real>
		<key>x</key>
		<real>340</real>
		<key>y</key>
		<real>389.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>46.175495147705078</real>
		<key>x</key>
		<real>377.5</real>
		<key>y</key>
		<real>411</real>
	</dict>
	<dict>
		<key>size</key>
		<real>10.314569473266602</real>
		<key>x</key>
		<real>396.5</real>
		<key>y</key>
		<real>419.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>56.241722106933594</real>
		<key>x</key>
		<real>331</real>
		<key>y</key>
		<real>432.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>49.950332641601562</real>
		<key>x</key>
		<real>375.5</real>
		<key>y</key>
		<real>430.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>13.145695686340332</real>
		<key>x</key>
		<real>397.5</real>
		<key>y</key>
		<real>444.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>10</real>
		<key>x</key>
		<real>402.5</real>
		<key>y</key>
		<real>449.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>69.768211364746094</real>
		<key>x</key>
		<real>644.5</real>
		<key>y</key>
		<real>430</real>
	</dict>
	<dict>
		<key>size</key>
		<real>54.03973388671875</real>
		<key>x</key>
		<real>698</real>
		<key>y</key>
		<real>456</real>
	</dict>
	<dict>
		<key>size</key>
		<real>19.751655578613281</real>
		<key>x</key>
		<real>323</real>
		<key>y</key>
		<real>459.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>34.850994110107422</real>
		<key>x</key>
		<real>355.5</real>
		<key>y</key>
		<real>468.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>47.119205474853516</real>
		<key>x</key>
		<real>389</real>
		<key>y</key>
		<real>464</real>
	</dict>
	<dict>
		<key>size</key>
		<real>11.887416839599609</real>
		<key>x</key>
		<real>406.5</real>
		<key>y</key>
		<real>471</real>
	</dict>
	<dict>
		<key>size</key>
		<real>10</real>
		<key>x</key>
		<real>410</real>
		<key>y</key>
		<real>476</real>
	</dict>
	<dict>
		<key>size</key>
		<real>10</real>
		<key>x</key>
		<real>604.5</real>
		<key>y</key>
		<real>428</real>
	</dict>
	<dict>
		<key>size</key>
		<real>12.201986312866211</real>
		<key>x</key>
		<real>608</real>
		<key>y</key>
		<real>432</real>
	</dict>
	<dict>
		<key>size</key>
		<real>12.516556739807129</real>
		<key>x</key>
		<real>613</real>
		<key>y</key>
		<real>436.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>42.086093902587891</real>
		<key>x</key>
		<real>652</real>
		<key>y</key>
		<real>473</real>
	</dict>
	<dict>
		<key>size</key>
		<real>43.658939361572266</real>
		<key>x</key>
		<real>679</real>
		<key>y</key>
		<real>485.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>48.692054748535156</real>
		<key>x</key>
		<real>343.5</real>
		<key>y</key>
		<real>505.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>59.072849273681641</real>
		<key>x</key>
		<real>392.5</real>
		<key>y</key>
		<real>497</real>
	</dict>
	<dict>
		<key>size</key>
		<real>14.089404106140137</real>
		<key>x</key>
		<real>419</real>
		<key>y</key>
		<real>500</real>
	</dict>
	<dict>
		<key>size</key>
		<real>18.178808212280273</real>
		<key>x</key>
		<real>425</real>
		<key>y</key>
		<real>510</real>
	</dict>
	<dict>
		<key>size</key>
		<real>35.480133056640625</real>
		<key>x</key>
		<real>427</real>
		<key>y</key>
		<real>527.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>13.145695686340332</real>
		<key>x</key>
		<real>634.5</real>
		<key>y</key>
		<real>478</real>
	</dict>
	<dict>
		<key>size</key>
		<real>37.682117462158203</real>
		<key>x</key>
		<real>664.5</real>
		<key>y</key>
		<real>519.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>57.814571380615234</real>
		<key>x</key>
		<real>643.5</real>
		<key>y</key>
		<real>510.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>31.705297470092773</real>
		<key>x</key>
		<real>683.5</real>
		<key>y</key>
		<real>500</real>
	</dict>
	<dict>
		<key>size</key>
		<real>12.201986312866211</real>
		<key>x</key>
		<real>615</real>
		<key>y</key>
		<real>511</real>
	</dict>
	<dict>
		<key>size</key>
		<real>16.920530319213867</real>
		<key>x</key>
		<real>366</real>
		<key>y</key>
		<real>527</real>
	</dict>
	<dict>
		<key>size</key>
		<real>35.480133056640625</real>
		<key>x</key>
		<real>398</real>
		<key>y</key>
		<real>542</real>
	</dict>
	<dict>
		<key>size</key>
		<real>19.43708610534668</real>
		<key>x</key>
		<real>441.5</real>
		<key>y</key>
		<real>533.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>15.976820945739746</real>
		<key>x</key>
		<real>613.5</real>
		<key>y</key>
		<real>520.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>13.460265159606934</real>
		<key>x</key>
		<real>607</real>
		<key>y</key>
		<real>523</real>
	</dict>
	<dict>
		<key>size</key>
		<real>41.771522521972656</real>
		<key>x</key>
		<real>363</real>
		<key>y</key>
		<real>568</real>
	</dict>
	<dict>
		<key>size</key>
		<real>34.850994110107422</real>
		<key>x</key>
		<real>402</real>
		<key>y</key>
		<real>561.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>59.387416839599609</real>
		<key>x</key>
		<real>447</real>
		<key>y</key>
		<real>561.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>10</real>
		<key>x</key>
		<real>470</real>
		<key>y</key>
		<real>543.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>45.231788635253906</real>
		<key>x</key>
		<real>482</real>
		<key>y</key>
		<real>562</real>
	</dict>
	<dict>
		<key>size</key>
		<real>11.572847366333008</real>
		<key>x</key>
		<real>495.5</real>
		<key>y</key>
		<real>541</real>
	</dict>
	<dict>
		<key>size</key>
		<real>13.460265159606934</real>
		<key>x</key>
		<real>500.5</real>
		<key>y</key>
		<real>541</real>
	</dict>
	<dict>
		<key>size</key>
		<real>69.453643798828125</real>
		<key>x</key>
		<real>524</real>
		<key>y</key>
		<real>563.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>10</real>
		<key>x</key>
		<real>544.5</real>
		<key>y</key>
		<real>538</real>
	</dict>
	<dict>
		<key>size</key>
		<real>15.033112525939941</real>
		<key>x</key>
		<real>552</real>
		<key>y</key>
		<real>542.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>55.612583160400391</real>
		<key>x</key>
		<real>570.5</real>
		<key>y</key>
		<real>567</real>
	</dict>
	<dict>
		<key>size</key>
		<real>13.460265159606934</real>
		<key>x</key>
		<real>585</real>
		<key>y</key>
		<real>545</real>
	</dict>
	<dict>
		<key>size</key>
		<real>10</real>
		<key>x</key>
		<real>588.5</real>
		<key>y</key>
		<real>538</real>
	</dict>
	<dict>
		<key>size</key>
		<real>48.377483367919922</real>
		<key>x</key>
		<real>610.5</real>
		<key>y</key>
		<real>546</real>
	</dict>
	<dict>
		<key>size</key>
		<real>45.546356201171875</real>
		<key>x</key>
		<real>643</real>
		<key>y</key>
		<real>564</real>
	</dict>
	<dict>
		<key>size</key>
		<real>31.390727996826172</real>
		<key>x</key>
		<real>598.5</real>
		<key>y</key>
		<real>589.5</real>
	</dict>
	<dict>
		<key>size</key>
		<real>25.728477478027344</real>
		<key>x</key>
		<real>470.5</real>
		<key>y</key>
		<real>598</real>
	</dict>
	<dict>
		<key>size</key>
		<real>31.705297470092773</real>
		<key>x</key>
		<real>538.5</real>
		<key>y</key>
		<real>613.5</real>
	</dict>
</array>
</plist>
